@tailwind base;
@tailwind components;
@tailwind utilities;

header {
    transition: background-color 0.4s; 
}

html {
    scroll-behavior: smooth;
}

.btn-ghost:hover {
    background: #a3a3a320;
}

.phone-nav {
    background: rgba(255, 255, 255, 0.2);
}